version: '3.9'

services:
  backend:
    build: ./backend
    environment:
      - ConnectionStrings__DefaultConnection=Server=mssql,1433;Database=ErrorClothingStoreDb;User=SA;Password=Admin@123
      - AllowedOrigins=["http://localhost:3000"]
    volumes:
      - mssql-data:/var/opt/mssql/data
    mem_limit: 64m
    cpus: 0.1
    ports:
      - 5001:80
    networks:
      - development

  mssql:
    build: ./mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Admin@123
    mem_limit: 2.2Gb
    cpus: 0.2
    networks:
      - development
    ports:
      - 1433:1433

networks:
  development:
    driver: bridge

volumes:
  mssql-data:
    driver: local
